body {
  background-color: #EFE;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#header .loading {
  height: 14px;
  width: 17px;
}

#go {
  display: none;
}

#chatlog {
  background-color: #DFF;
  border-radius: 9px;
  border: 6px solid #AAA;
  margin: auto;
  max-width: 400px;
  max-height: 75vh;
  min-height: 50px;
  overflow: scroll;
  padding: 4px;
}

#chatlog .loading {
  display: none;
  height: 60px;
  left: calc(50% - 30px);
  position: absolute;
  z-index: 9999;
}

.left-msg {
  margin-right: 32px;
  text-align: left;
}

.right-msg {
  margin-left: 32px;
  text-align: right;
}

.message {
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #000;
  color: #006;
  display: inline-block;
  margin: 1px 4px 1px 4px;
  max-width: 350px;
  overflow: scroll;
  padding: 4px;
}

.message em {
  font-size: x-small;
  opacity: 0.5;
}

#newMessage {
  color: #000;
  display: none;
  margin-bottom: 12px;
  max-width: none;
}

#newMessage input {
  width: 96%;
}
