body {
  background-color: #EFE;
  font-family: sans-serif;
  text-align: center;
}

#go {
  display: none;
}

#chatlog {
  background-color: #DFF;
  border-radius: 9px;
  border: 6px solid #AAA;
  margin: auto;
  max-width: 400px;
  max-height: 75vh;
  min-height: 50px;
  overflow: scroll;
  padding: 4px;
}

#loading {
  display: none;
  height: 60px;
  left: calc(50% - 30px);
  position: absolute;
  z-index: 9999;
}

.message {
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid #000;
  color: #060;
  display: inline-block;
  margin: 4px;
  padding: 4px;
}

.message em {
  font-size: small;
}

#newMessage {
  color: #000;
  display: none;
  margin-bottom: 8px;
}

#newMessage input {
  width: 96%;
}
